PasswordAuthentication yes
Subsystem sftp /usr/lib/openssh/sftp-server
Match User sftpuser
    ForceCommand internal-sftp
    AllowTcpForwarding no
    PasswordAuthentication yes
    ChrootDirectory /home/sftpuser
